# Project exclude paths
../target
*.db
.idea
*.class

back-end/images/*
!back-end/images/user
back-end/images/user/*
!back-end/images/user/photo
back-end/images/user/photo/*
!back-end/images/user/photo/default_user_photo.png
